{{draggable-content-block-zone classNames="mainContent" dropped="droppedItemCallback"}}

<div class="contentBlock">
    {{draggable-content-block-zone classNames="secondaryContent third"}}
    {{draggable-content-block-zone classNames="secondaryContent third"}}
    {{draggable-content-block-zone classNames="secondaryContent third"}}
</div>

<div class="contentBlock">
    {{draggable-content-block-zone classNames="secondaryContent half"}}
    {{draggable-content-block-zone classNames="secondaryContent half"}}
</div>

<div class="contentBlock">
    {{draggable-content-block-zone classNames="secondaryContent third"}}
    {{draggable-content-block-zone classNames="secondaryContent third"}}
    {{draggable-content-block-zone classNames="secondaryContent third"}}
</div>