- set_title(@data[:article].headline + ' | The Franklin Post')

#contentContainer
  %main#main
    #pageContent.articleView
      %article.defaultView.fullArticle{itemscope: true, itemtype: 'http://schema.org/Article'}
        %header.articleViewHeader
          .mainInfo
            %h3.section
              %a{:href => "/#{@data[:article].section.slug}", itemtype: 'articleSection'}= @data[:article].section.name
            %h1.headline{itemtype: 'headline'}= @data[:article].headline
          .byline
            by
            .authors
              = raw @data[:article].formatted_writers_names
            %time{datetime: @data[:article].published_at, title: @data[:article].published_at, itemtype: 'datePublished'}= @data[:article].published_at.strftime('%B %-d, %Y')
        .contents.clear{itemtype: 'articleBody'}
          - if @data[:article].has_featured_media?
            %figure.mainVisual
              - if @data[:article].featured_media_is_collection?
                = react_component('InlineSlideshow', @data[:article].featured_media_collection.formatted_slide_props, { prerender: true })
              - else
                %img{src: @data[:article].featured_media.link, alt: @data[:article].featured_media.caption, itemtype: 'thumbnailUrl'}
                %p.caption= @data[:article].featured_media.caption
                %span.credit= @data[:article].featured_media.credit
          = raw @data[:article].contents
        %section.comments.articlePageBlock
          %header
            %h4.title Comments
          .commentsBlock.blockContents
            = render partial: 'components/disqus', locals: { id: @data[:article].id, title: @data[:article].headline }
      - if @data[:read_more].length
        - number_of_articles = @data[:read_more].length
        %section.articlePageBlock.readMore
          %header
            %h4.title
              More
              %a{href: "/#{@data[:article].section.slug}"}= @data[:article].section.short_name
              Stories
          .blockContents.clear
            - if number_of_articles < 3
              .singleRow.noBoundary
                = render partial: 'partials/page_stories/generic', collection: @data[:read_more][0..number_of_articles], as: :article, cache: true
            - else
              .singleRow
                = render partial: 'partials/page_stories/generic', collection: @data[:read_more][0..1], as: :article, cache: true
              .singleRow
                = render partial: 'partials/page_stories/generic', collection: @data[:read_more][2..number_of_articles], as: :article, cache: true
