= render 'partials/universal_header'

#content-container
  %main#main
    %article.main.s-big-wide-all
      %header.view-a-head
        %h1.headline= @article.headline
        %p.byline-timestamp
          %span.g-i by
          %span.byline= @article.section.name
          %span.g-i on
          %span.timestamp= @article.published_at.strftime('%B %-d, %Y at %I:%M%p')
      %section.main-content.ctnt-regular
        .article
          %p= raw @article.contents
