{{ input name="tags[]" type="hidden" value=tag }}

{{#unless isEditing}}
    <span class="tagValue" {{action "toggleEditing" on="click" bubbles=false}}>
        {{tag}}
    </span>
{{/unless}}

{{#if isEditing}}
    {{focused-text-box class="updateTagValue" onRemoveFocus="updateTag" name="tag" type="text" value=tag action="updateTag" bubbles=false}}
{{/if}}

<div class="removeTag" {{action "removeTag" on="click" bubbles=false}}></div>