<header id="pageHeader">
    <h1 id="pageContentTitle"></h1>
</header>
<div id="pageContent">
    <table class="contentTable articlesListTable">
        <thead>
        <tr>
            <th class="contentTableLabel checkColumn manageMultipleTableItems" scope="col">
                <input class="tableSelectAllEntries" type="checkbox">
            </th>
            <th class="contentTableLabel canBeFiltered labelArticleHeadline" scope="col">
                <a href="#">
                    <span>Headline</span>
                </a>
            </th>
            <th class="contentTableLabel labelArticleCreator" scope="col">Creator</th>
            <th class="contentTableLabel labelArticleWriter" scope="col">Writer</th>
            <th class="contentTableLabel labelArticleSection" scope="col">Section</th>
            <th class="contentTableLabel labelArticleTags" scope="col">Tags</th>
            <th class="contentTableLabel canBeFiltered labelArticleDate" scope="col">
                <a href="#">
                    <span>Date</span>
                </a>
            </th>
        </tr>
        </thead>
        <tbody class="contentTableListBody allArticles">
        {{#each article in model}}
            <tr class="contentTableEntry">
                <th class="contentEntryProperty checkCurrentRow" scope="row">
                    <input class="selectCurrentTableEntry" type="checkbox" value="54">
                </th>
                <td class="contentEntryProperty articlesTableHeadline">
                    <h1>
                        <a class="rowEntryTitle" href="#">{{article.headline}}</a>
                    </h1>
                    <div class="quickActions">
                        <div class="editArticle">
                            <a href="#">Edit</a>
                        </div>
                        <div class="previewArticle">
                            <a href="#">Preview</a>
                        </div>
                        <div class="deleteArticle">
                            <a href="#">Delete</a>
                        </div>
                    </div>
                </td>
                <td class="contentEntryProperty articlesTableCreator">
                    <a href="#">{{article.created_by}}</a>
                </td>
                <td class="contentEntryProperty articlesTableWriter">
                    <a href="#">{{article.writer}}</a>
                </td>
                <td class="contentEntryProperty articlesTableSection">
                    <a href="#">{{article.section}}</a>
                </td>
                <td class="contentEntryProperty articlesTableTags">
                    <a href="#">{{article.tags}}</a>
                </td>
                <td class="contentEntryProperty articlesTableDate">
                    <a href="#">{{article.created_at}}</a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>