<div id="contentContainer">
    <main id="main">
        <div id="pageContent">
            {{#if isChanged}}
                <div class="noticeBanner">
                    <p>This article has been modified. Please <a href="#" {{action "saveArticle" on="click" bubbles=false}}>save</a> it to submit the changes.</p>
                </div>
            {{/if}}
            <form id="newArticle" class="newResource" autocomplete="off" {{ action "testSubmitA" on="submit" }}>
                <div class="matDesignTextBoxContainer">
                    {{ input name="headline" class="matDesign" placeholder="Headline" value=headline }}
                    <span class="inputMatDesignHighlighter"></span>
                    <span class="inputMatDesignBar"></span>
                    <!--<label class="matDesign">Headline</label>-->
                </div>
                <div id="articleFormMainContent">
                    <div class="matDesignTextBoxContainer">
                        {{ input name="subheading" class="matDesign" placeholder="Subheading" value=subheading }}
                        <span class="inputMatDesignHighlighter"></span>
                        <span class="inputMatDesignBar"></span>
                    </div>

                    <div class="articleFormBox">
                        {{ redactor-editor name="rawContents" class="articleFormElement rawContents" value=rawContents }}
                    </div>

                    <div id="articleTypeChoose" class="articleConfigBox">
                        {{#article-config-box title="Article Type" description="Select the type of article to use."}}
                            <h1>Yo</h1>
                        {{/article-config-box}}
                    </div>

                </div>
                <div id="articleFormConfigContent">
                    <div class="matDesignTextBoxContainer">
                        {{ input name="rawWriterName" class="matDesign" placeholder="Writer" value=rawWriterName }}
                        <span class="inputMatDesignHighlighter"></span>
                        <span class="inputMatDesignBar"></span>
                    </div>
                    <div id="articlePropertiesSubmit" class="articleConfigBox">
                        {{#article-config-box title="Details" description="A bunch of stuff goes here."}}
                            <div class="articleProperty">
                                <strong>Status: </strong>
                                <span class="articlePropValue">Draft</span>
                            </div>
                        {{/article-config-box}}
                    </div>

                    <div id="articlePropertiesSection" class="articleConfigBox">
                        {{#article-config-box title="Section" description="Select the section to which the article should be categorized."}}
                            <div class="articleSectionsSelection">
                                {{#unless model.sections}}
                                    No sections available. (make this look nice)
                                {{/unless}}
                                {{#each section in model.sections}}
                                    <label class="sectionSelectionLabel">
                                        {{ input name="sectionId" class="sectionSelection bigRadio" type="radio" value=section.id }}
                                        <div class="sectionName">
                                            {{ faIconFromClassName "fa-times" classNames="sectionIcon" }}

                                            {{section.name}}
                                        </div>
                                    </label>
                                {{/each}}
                            </div>
                        {{/article-config-box}}
                    </div>

                    <div id="articlePropertiesTags" class="articleConfigBox">
                        {{#article-config-box title="Tags"}}
                        {{!--{{ input type="text" name="tag" value=tag action="addTag" bubbles=false }}
                        {{#each tag in tags}}
                            <h1>{{tag}}</h1>
                        {{/each}}--}}
                            {{ article-tags-box }}
                        {{/article-config-box}}
                    </div>

                    <div id="articlePropertiesSettings" class="articleConfigBox">
                        {{#article-config-box title="Settings" description="Just more and more stuff you should probably look at."}}
                            <label class="checkWithLabel">
                                {{ input type="checkbox" name="disableComments" class="bigCheckbox" checked=disableComments }}
                                Disable Commenting
                            </label>
                        {{/article-config-box}}
                    </div>
                </div>
               {{ input type="submit" }}
                <a href="#" {{ action "testML" on="click" }}>Ffff</a>
            </form>
        </div>
    </main>
</div>

{{#unless isMediaLibraryOpen}}
    {{#modal-box isCloseableByOverlayClick=true
                    isModalActive=false
                    onModalClose="testML"}}
        {{media-library mediaRecords=model
                        onMediaUpload="mediaUpload"
                        onLibraryClose="testML"}}
        <!--<div class="loading">Loading...</div>-->
    {{/modal-box}}
{{/unless}}